<h1>New Team</h1>
<%= form_with scope: :team, url: teams_path, local: true do |form| %>
  <p>
    <%= form.label :name %><br />
    <%= form.text_field :name %>
  </p>

  <p>
    <%= form.submit value: "Create Team" %>
  </p>
<% end %>
