<h1>Team Info</h1>

<div class="card mb-2">
  <div class="card-body">
    <%= link_to 'Edit', [:edit, @org, @season, @league, @team], class: 'float-right btn btn-sm btn-secondary' %>

    <h3><%= @team.name %></h3>
    <ul>
      <% @team.players.each do |player| %>
        <li><%= player.identifier %></li>
      <% end %>
    </ul>
  </div>
</div>

<%= link_to 'Back', [@org, @season, @league, :teams], class: ' btn btn-primary' %>
