<h1><%= @org.name %> > Player Info</h1>

<div class="card mb-2">
  <div class="card-body">
    <%= link_to 'Edit', [:edit, @org, @player], class: 'float-right btn btn-sm btn-secondary' %>
    <h3><%= @player.first_name + " " + @player.last_name %></h3>
    <p>
      <% if @player.team %>
        <%= @player.team.name %>
      <% else %>
        Not on a team
      <% end %>
    </p>
  </div>
</div>

