<h1>Player Info</h1>

<div class="card mb-2">
  <div class="card-body">
    <%= link_to 'Edit', edit_player_path(@player), class: 'float-right btn btn-sm btn-secondary' %>
    <h3><%= @player.first_name + " " + @player.last_name %></h3>
    <p>
      <% if @player.team %>
        <%= @player.team.name %>
      <% else %>
        Not on a team
      <% end %>
    </p>
  </div>
</div>

<%= link_to 'Back', players_path, class: "btn btn-primary" %>
